<section class="cta-strip">

    <a class="cta-card" target="_blank" href="https://apply.trussle.com/affordability-calculator?utm_source=blog&utm_medium=get-started-cta">
        <div class="cta-heading">
            Looking for a home?
        </div>
        <div class="cta-info">
            See what you could afford now&nbsp;<span class="caret"></span>
        </div>
    </a>

    <a class="cta-card" target="_blank" href="https://apply.trussle.com/affordability-calculator-offer-accepted?utm_source=blog&utm_medium=get-started-cta">
        <div class="cta-heading">
            Offer accepted?
        </div>
        <div class="cta-info">
            See your mortgage options today&nbsp;<span class="caret"></span>
        </div>
    </a>

    <a class="cta-card" target="_blank" href="https://apply.trussle.com/remortgage-quick-check?utm_source=blog&utm_medium=get-started-cta">
        <div class="cta-heading">
            Looking to remortgage?
        </div>
        <div class="cta-info">
            Find out if you could switch and save&nbsp;<span class="caret"></span>
        </div>
    </a>

</section>
